<h1>Planes Index</h1>

<%# <% cl_image_path(:cloud_name => cloudinary)%>

<div class="container">
  <div class="row col-4 col-sm-12 cards">
  <% @planes.each do |plane| %>
  <div class="card" >
  <h4><%= plane.model %></h4>
  <p>Max Passengers: <%= plane.pax_capacity %></p>
  <p>Flight Hours: <%= plane.fh_range %></p>
  <%= link_to "More info", plane_path(plane.id) %>
  </div>
  <% end %>
  </div>
</div>
