<h1>Planes Index</h1>

<ul>
  <% @planes.each do |plane| %>
  <li> <%= link_to plane.model, plane_path(plane) %> </li>
  <li> <%= plane.pax_capacity %> </li>
  <li> <%= plane.fh_range %> </li>
  <% end %>
</ul>
