// Specific CSS for your home-page
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.motto {
  font-size: 24px;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #2196F3;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1976D2;
}

.home_video {
  // position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  object-fit: cover;
  margin: 0px;
}

.banner {
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 400px;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

body {
  margin: 0;
}
