// Import page-specific CSS files here.
@import "home";
@import "booking-list";

.icon-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust the gap between the spans as needed */
}

.icon-text span {
  display: flex;
  gap: 8px;
}

.icon-text i {
  font-size: 30px; /* Adjust the font size as needed */
}

.card-link:hover {
 scale: 1.05;
}
