<h1>Your bookings index</h1>

<% @bookings.each do |booking| %>
<p><%= booking.total_price %>, <%= booking.date %> </p>
<%= link_to 'Edit', edit_plane_booking_path(booking.plane.id, booking.id) %>

<% end %>
