
<%= simple_form_for [plane, booking] do |f| %>
  <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>

  <div data-controller="price">
  <p data-price-target="hours"><%= f.input :total_hours, collection: 1..plane.fh_range %></p>
  <p>Price: £<span data-price-target="totalprice">-</span></p>
  </div>

  <%= f.submit "Book", class: "btn btn-primary" %>
<% end %>
