<h1>Ready Jet Go</h1>
<p>Your Jet, Your Journey - Ready Jet Go</p>

<%= link_to "Browse our selection of jets", planes_path %>
<br>
<%= link_to "Login", new_user_session_path %>
<br>
<%= link_to "Sign up", new_user_registration_path %>
