.cards {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 30px;
}

.mycard {
  background-color: rgb(217, 223, 224);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card-body {
  text-align: center;
}

.mylink {
  color: #780e0e;
  text-decoration: none;
}

.myh1 {
  padding: 15px;
  font-size: 32px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.my-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.homeCards {
  display: flex;
  flex-grow: 1;
  align-items: center;
  gap: 16px;
  margin: 16px;
}
