.cards {
  display: grid;
  flex-grow: 1;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: 30px;
}

// .mycard {
//   background-color: rgb(217, 223, 224);
//   border-radius: 2px;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//   overflow: hidden;
// }

.card-body {
  text-align: center;
}

.mylink {
  color: #780e0e;
  text-decoration: none;
}

.myh1 {
  padding: 15px;
  font-size: 32px;
  color: #333;
  font-weight: bold;
  text-transform: uppercase;
}

.my-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.mycard {
  color: $gray;
  background-color: $light-gray;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  // width: 33%;
  overflow: hidden;
  h3 {
    padding-top: 5%;
  }
}

.homeCards {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  gap: 16px;
  // margin: 16px;
}

.home_card_img {
  height:300px;
  width: 200px;
  object-fit: cover;
}

.responsive {
  width: 100%;
  // height: auto;
}


// Trial fo hover effects on cards
* {
  transition: all 0.3s ease-out;
}



h3 {
  color: #262626;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;

  &.small {
    font-size: 14px;
  }
}

// .go-corner {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   position: absolute;
//   width: 32px;
//   height: 32px;
//   overflow: hidden;
//   top: 0;
//   right: 0;
//   background-color: #00838d;
//   border-radius: 0 4px 0 32px;
// }

// .go-arrow {
//   margin-top: -4px;
//   margin-right: -4px;
//   color: white;
//   font-family: courier, sans;
// }

.card2 {
  display: block;
  top: 0px;
  position: relative;
  width: 30%;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  border: 1px solid #f2f8f9;

  // &:hover {
  //   transition: all 0.2s ease-out;
  //   box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  //   top: -4px;
  //   border: 1px solid #cccccc;
  //   background-color: white;
  // }

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: #00838d;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(2);
    transform-origin: 50% 50%;
    transition: transform 0.15s ease-out;
  }

  &:hover:before {
    transform: scale(2.15);
  }
.card-link {
  text-decoration: none;
  color: inherit;
}

.card-link:hover {
  text-decoration: none;
  color: inherit;
}
}
