.my-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.fullWidthContainer {
  background: white;
  text-align: center;
  // margin: 10px;
}
