.navbar {
  display: flex;
  z-index: 2;
  background-color: rgb(225, 225, 225);
  border-bottom: rgb(42, 42, 42);
  box-shadow: 0 0 15px rgba(0,0,0,0.2)
}

// .home-button {
//   display: inline-block;
//   padding: 10px 20px;
//   text-align: center;
//   margin-left: 10px;
//   border: none;
//   border-radius: 5px;
//   background-color: #1a8cff;
//   transition: all 0.3s ease 0s;
//   cursor: pointer;
//   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

.favicon{
  width: 60px;
  height: 60px;
}

  a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease 0s;
  }

  a:hover {
    color: #fff;
    }

  i {
    font-size: 40px;
    padding-bottom: 5px;
  }

  p {
    margin: 0px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }


.my-icon{

}

.my-icon:hover {
  color: black;
  background-color: inherit;
}

.login-profile {
  text-align: center;
  margin-right: 10px;
  color: white;

  i {
    font-size: 40px;
    padding-bottom: 5px;
  }

  p {
    margin: 0px;
  }
}

.login-profile:hover {
  color: black;
}

.dropdown-menu {
  position: absolute;
  right: -2px;
}
