.show-image {
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}

.show-header {
  display: flex;
  margin-top: -100px;
  h1 {
    margin: 0px;
    font-size: 80px;
    font-weight: bold;
    color: white;
  }
};

.main-card {
  display: flex;
  padding: 20px;
  padding-left: 45px;
  padding-right: 45px;
  .description {
    width: 40%;
  }
  .specs {
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 0, 0.309);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 20%;
  }
  .book-now {
    border: 5px solid yellow;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2196F3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #1976D2;
}
