.show-image {
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
}

.show-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: -100px;
  margin-left: 10px;
  h1 {
    margin: 0px;
    font-size: 80px;
    font-weight: bold;
    color: white;
  }
};

.main-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
  .description {
    width: 40%;
  }
  .specs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 20%;
    padding: 20px;
  }
  .card-header {
    font-size: 25px;
    font-weight: bold;
    }
  .book-now {
    margin-top: 20px ;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 30%;
    padding: 20px;
    p {
      padding-bottom: 10px;
    }
  }
}

.reviews-card {

}
